<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find scanner_description)/urdf/model/tiang_h/scanner_tiang_h.gazebo.xacro"/>
  
  <xacro:macro name="scanner_tiang_h" params="parent color *joint_origin">
    <joint name="tiang_h_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="tiang_h"/>
    </joint>

    <link name="tiang_h">
      <visual>
        <origin xyz="1.075 0 0"/>
        <geometry><box size="2.15 0.1 0.1"/></geometry>
        <material name="${color}"/>
      </visual>
      <collision>
        <origin xyz="1.075 0 0"/>
        <geometry><box size="2.15 0.1 0.1"/></geometry>
      </collision>
      <inertial>
        <origin xyz="1.075 0 0"/>
        <mass value="20"/>
        <inertia ixx="1" iyy="1" izz="0.5" ixy="0" ixz="0" iyz="0"/>
      </inertial>
    </link>

  </xacro:macro>
  
</robot>
